/* overlapping style */
html{
    scroll-behavior: smooth;

}

body{
  background-color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.nav{
  vertical-align: middle;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;

  font-size: 12px;
  background-color: #ffffff;
  padding: 20px 0;
  margin-left: 20px;
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding-right: 20px;
  display: inline-block;
}

nav a{
  color: #474A51;
  text-decoration: none;
}

nav a:hover{
  border-bottom: 1px solid #474A51;
}

nav a.active {
  border-bottom: 2px solid #474A51;
  background-color: transparent;
  font-weight: bold;

}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:0px;
}

#footer {
  padding: 60px 0 40px;
  background-color: #474A51;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
}

.fas, .fab {
    color: white !important;
    margin: 0px 20px 10px 20px;
    font-size: 30px;

}

.skip {
  font-family: 'Nunito Sans', sans-serif;
}

#about_page_h1, #portfolio_page_h1, #contact_page_h1, #resume_page_h1 {
  font-family: "Nunito Sans";
  font-size: 25px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}


/* index page styling */

#index_page_h1{
  font-size: 35px;
  line-height: 1;
  padding: 50px 50px 20px 50px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;

}

#index_page_h2{
  font-size: 24px;
  line-height: 1;
  padding: 0px 50px 8px 50px;
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
}


#index_wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px auto auto auto auto auto;
  grid-row-gap: 10px;

}


#main{
  background-attachment: fixed;
  background-image: url(https://uploads-ssl.webflow.com/5bd0d79dac3abb16580e2a07/5c3e9063d822bf7e717e7a51_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #474A51;
  height: 400px;
  width: 100vw;
  padding-top: 100px;

  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}

#main p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.project_link {
  text-decoration: none;
  color: #474A51;
}


.projects{
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-bottom: 80px;
}

.folder1 {
    width: 90vw;
    height: 40vh;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 0 20px 20px 20px;

    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
    background-color: #e6f4ef;
}

.folder2 {
    width: 90vw;
    height: 40vh;
    margin-top: 50px;
    position: relative;
    border-radius: 0 20px 20px 20px;

    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: #eef4e6;

}

.folder3 {
    width: 90vw;
    height: 40vh;
    margin-top: 50px;
    position: relative;
    border-radius: 0 20px 20px 20px;

    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    background-color: #feede2;
}


.folder4 {
    width: 90vw;
    height: 40vh;
    margin-top: 50px;
    position: relative;
    border-radius: 0 20px 20px 20px;

    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    background-color: #fde8e7;
}

.folder1:before {
    content: '';
    width: 35%;
    height: 45px;
    border-radius: 0 20px 0 0;
    background-color: #d5ede4;
    position: absolute;
    top: -45px;
    left: 0px;
}


.folder1 .text{
  position:relative;
  top:170px;
  text-align: center;
  font-family: 'Dekko', sans-serif;
  font-size: 20px;
}


.folder2:before {
    content: '';
    width: 35%;
    height: 45px;
    border-radius: 0 20px 0 0;
    background-color: #e6efd9;
    position: absolute;
    top: -45px;
    left: 0px;
}


.folder2 .text{
  position:relative;
  top:170px;
  text-align: center;
  font-family: 'Dekko', sans-serif;
  font-size: 20px;
}



.folder3:before {
    content: '';
    width: 35%;
    height: 45px;
    border-radius: 0 20px 0 0;
    background-color: #fddcc4;
    position: absolute;
    top: -45px;
    left: 0px;
}



.folder3 .text{
  position:relative;
  top:170px;
  text-align: center;
  font-family: 'Dekko', sans-serif;
  font-size: 20px;
}



.folder4:before {
    content: '';
    width: 35%;
    height: 45px;
    border-radius: 0 20px 0 0;
    background-color: #fcd5d3;
    position: absolute;
    top: -45px;
    left: 0px;
}


.folder4 .text{
  position:relative;
  top:170px;
  text-align: center;
  font-family: 'Dekko', sans-serif;
  font-size: 20px;
}


.callout {
  margin-left: 20px;

}

/* about page styling */

#me {
  object-fit: contain;
  height: 90%;
  width: 90%;
  margin-bottom: 30px;


}

.about{
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 30% 30% 30%;
  padding-top: 20px;
}


.about-image{
  display: block;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin-left: 40px;
  overflow: hidden;
  /* image is weird, cannot get it to resize correctly and fit where i want */

}

.note-1 {
  position: relative;
  overflow: hidden;

  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: #eed3db;
}



.summary-header {
  margin: 40px 40px 0px 40px;
  text-align: left;
  font-family: 'Dekko', cursive;
  font-size: 18px;
  text-decoration: underline;
  color: #474A51;

}

.summary {
  margin: 20px 40px 20px 40px;
  text-align: left;
  font-family: 'Dekko', cursive;
  font-size: 15px;
  color: #474A51;
}


.note-2 {
  position: relative;
  overflow: hidden;

  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background-color: #e1d6eb;

  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 1fr 3fr;
}


.skills-header {
  margin: 40px 50px 0px 50px;
  text-align: left;
  font-family: 'Dekko', cursive;
  font-size: 18px;
  color: #474A51;
  text-decoration: underline;

  grid-column: 1 / -1;
  grid-row: 1 / span 1;

}

.languages {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

}

.tools {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}


.programming {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.lang-header, .tools-header, .program-header {
  margin: 20px 50px 0px;
  text-align: left;
  font-family: 'Dekko', cursive;
  font-size: 17px;
  color: #474A51;
}

.lang-list, .tools-list, .program-list {
  margin: 10px 50px 10px 50px;
  text-align: left;
  font-family: 'Dekko', cursive;
  font-size: 15px;
  color: #474A51;

  list-style-type: circle;
  list-style-position: outside;
}



.callout-2 {
  margin: 30px;
}

.callout-3 {
  margin: 0px 30px 30px 30px;

}



/* portfolio page styling */


.gallery{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-flow: wrap;
  flex-direction: row;
}

figure{
  width: 450px;
  height: 550px;
  margin: 8px 8px;;
  padding: 25px;
  box-sizing: border-box;
  flex-shrink: 0;

}
figure img{
  width: 400px;
  height: 400px;
}

figure figcaption{
  text-align: center;
  padding: 8px 4px;
  font-family: "Dekko";
  font-size: 25px;
  padding-top: 30px;
  color: #474A51;
}

.gradient1 {
  background-color: #f0f0f0;

}

.gradient2 {
  background-color: #E7E7E7;

}

.gradient3 {
  background-color: #dbdbdb;
}

@-webkit-keyframes flash {
 0% { opacity: .2; }
 100% { opacity: 1; }
}
@keyframes flash {
 0% { opacity: .2; }
 100% { opacity: 1; }
}

.flash:hover {
  color: #ffffff;
  opacity: 1;
  -webkit-animation: flash 2s;
  animation: flash 2s;
}


/* individual project pages  */

#proj_page_h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: left;
  margin-left: 50px;
}

#proj_page_h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: left;
  margin-left: 50px;
}

h3{
  font-size: 32px;
  text-align: left;
}

h4 {
  font-size: 25px;
  font-style: italic;
}

p, li, h5{
text-align: left;
}

#proj_page_header_benz{
  background-attachment: fixed;
  background-image: url(../images/benz-cover.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 400px;
  width: 100%;

  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}

#proj_page_header_um{
  background-attachment: fixed;
  background-image: url(../images/um-cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 400px;
  width: 100%;

  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}



.wireframe-image ,.ideation-image,.backend-image{
  display: block;
  width: 100%;

}


#proj_pg_image {
  width: 100%;
}


.text-block{
  justify-self: center;
  align-self: center;

  background-color: rgba(255, 255, 255, .8);
  border: 10px solid white;
  padding: 30px;
}

/* contact page styling */



/* resume page styling */
iframe {
  margin: auto;
  padding: 10px;
  display: block;
  width: 60%;
}

#resume_page_h1 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}



/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 600px) and (max-width: 1000px) {

/* overlap styling */

  .nav{
    font-size: 18px;
    text-align: center;
  }

/* index page styling */

  #index_page_h1, #index_page_h2{
    text-align: center;

  }

  .folder1, .folder2, .folder3, .folder4{
    width: 90vw;
    height: 60vh;

  }

  .folder1 .text, .folder2 .text, .folder3 .text, .folder4 .text {

    font-size: 30px;


  }

  .callout {
    margin-left: 35px;

  }


/* about page styling */


  .about{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }

  #me {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

  }

  .note-1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 40vw;
    height: 45vh;

  }

  .note-2 {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    width: 90vw;
    height: 40vh;
  }

  .note-2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 90px 90px 0;
    border-style: solid;
    border-color: #c8b4da #c8b4da #fff #fff;
    background: #658E15;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    display: block; width: 0;
  }

  .callout-2 {
    margin: 10px;

  }


}

/*
  ##Device = Laptops, Desktops
*/

@media screen and (min-width: 1000px){

/* overlap styling */

  .nav{
    text-align: right;
    font-size: 20px;
  }

/* index page styling */
  #index_page_h1{
    font-size: 40px;

  }


  #index_page_h2{
    font-size: 32px;
    line-height: 1;
    padding: 0px 50px 8px 50px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    width: 41ch;
    animation: type 3s steps(41), blink .5s step-end 3s infinite alternate;
  }


  @keyframes type {
    0% {
      width:0ch;
    }
    100% {
      width:41ch;

    }

  }

  @keyframes blink {

   50% { border-color: transparent;

   }
}



  .projects{
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }

  .folder1 {
    width: 600px;
    height: 400px;

  }

  .folder2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    width: 600px;
    height: 400px;

  }

  .folder3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    width: 600px;
    height: 400px;
  }


  .folder4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    width: 600px;
    height: 400px;
  }

  .callout {
    margin: 50px;
  }

  .folder1:hover, .folder2:hover, .folder3:hover, .folder4:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);

  }

  .folder1 .text, .folder2 .text, .folder3 .text, .folder4 .text{
    visibility:hidden;
    color: black;

  }

  .folder1:hover .text, .folder2:hover .text, .folder3:hover .text, .folder4:hover .text{
    visibility:visible;
  }


/* about page styling */

  #me {
    width: 95%;
    height: 100%;
    margin: 0;
  }

  .about{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 80px;

  }


  .about-image{
    display: block;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    width: 100%;

  }

  .note-1 {

    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: #eed3db;
  }

  .note-1:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 90px 90px 0;
    border-style: solid;
    border-color: #e1b2c0 #e1b2c0 #fff #fff;
    background: #658E15;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
  }

  .note-2 {
    dislay: grid;

    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: #e1d6eb;

    grid-template-columns: 30% 30% 30%;

  }

  .note-2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 90px 90px 0;
    border-style: solid;
    border-color: #c8b4da #c8b4da #fff #fff;
    background: #658E15;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    display: block; width: 0;
  }

  .summary {
    font-size: 20px;
  }

  .summary-header, .skills-header {
    font-size: 28px;
    margin: 60px 50px 0px 50px;


  }

  .lang-header, .tools-header, .program-header {
    margin: 20px 50px 10px 50px;
    text-align: left;
    font-family: 'Dekko', cursive;
    font-size: 23px;
    color: #474A51;
  }

  .lang-list, .tools-list, .program-list {
    margin: 10px 50px 10px 50px;
    text-align: left;
    font-family: 'Dekko', cursive;
    font-size: 20px;
    color: #474A51;
  }


  .callout-2 {
    margin: 0px 50px 0px 50px;
  }

  .callout-3 {
    margin: 50px 50px 0px 50px;
  }


/* portfolio page styling */

  .portfolio {
    padding-top: 80px;
    grid-column: 1 / -1;
    grid-row: 2 / -1;

  }

  figure{
    width: 450px;
    height: 550px;

  }
  figure img{
    width: 400px;
    height: 400px;
  }


  /* individual project pages styling */
  h3 {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

  }
  h4{
    text-align: center;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
  }

  li{
    margin-left: 20px;
  }

  .proposition {
    display: grid;
    grid-template-rows: 1fr 1fr;

  }

  .prop-top {
    grid-column: 1 / 4;

  }
  .prop-type {
    grid-row: 2/ span 1;

  }

  .enterprise {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .sharepoint {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .inhouse {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  .ideation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

  }

  .ideation-text {
    grid-column: 1 / span 1;
  }

  .ideation-image {
    grid-column: 2 / span 1;
  }


  .analysis-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .act140 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

  }

  .act160 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

  }


}
